<?xml version="1.0" encoding="utf-8"?>
<!--
/* //device/AutoParts/AndroidManifest.xml
**
** Credit goes to Bumble-Bee for creating this app to
** select the keyboard layout and character map files.
**
** Modified for eos by Roach
*/
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.teameos.settings.device"
    android:sharedUserId="android.uid.system" >
    <uses-permission android:name="android.permission.REBOOT" />
    <application android:label="@string/app_name" >
        <activity
            android:name=".DeviceSettings"
            android:icon="@drawable/eos_device"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="org.teameos.action.LAUNCH_DEVICE_SETTINGS" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>
</manifest>
